/*
	Author	: Mark Joseph B. Sibayan
	Company : Pinelight Studios	
*/

@font-face 
{
    src: url('../fonts/gotham.ttf');
    font-family: 'Gotham';
    font-style: normal;
}

@font-face 
{
    src: url('../fonts/gotham-bold.ttf');
    font-family: 'GothamBold';
    font-style: normal;
}

@font-face 
{
    src: url('../fonts/BebasNeue.otf');
    font-family: 'BebasNeue';
    font-style: normal;
}

@font-face 
{
    src: url('../fonts/merriweather/Merriweather-Regular.ttf');
    font-family: 'Merriweather';
    font-style: normal;
}

/* TEXT EDITOR */
body#tinymce.mce-content-body {
    color: #000000 !important;
}

/* GENERAL */
hr
{
    width: 70%;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
    width: 100%;
    margin-top: 0px;
}

.hr-black
{
    width: 100%;
    border-top: 1px solid #000;
}

td
{
    max-width: 200px;
    overflow-wrap: break-word;
}

.table-order
{
    width: 87%;
}

/** pagination **/
.custom-pagination
{
    text-align: center;
    margin-top: -35px;
}

.welcome-note
{
    margin-right: 5px;
    margin-bottom: -40px;
    margin-left: -15px;
}

html {
    position: relative;
    height: 100%;    
}

body{
    background:#fff !important;
    font-family: Gotham;
    font-size: 12pt;    
    padding-top: 20px;
}
   
input[type=file]
{
    margin-top: 5px;
}

.row-action
{
    margin-left: 0;
    margin-right: -15px;
}

.h1-table-title
{
    margin-top: 0;
    padding-top: 20px;
    font-family: BebasNeue; 
    color: #000;   
}

.h1-center
{
    text-align: center;
}

.h3-title
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -15px;
    padding-top: 10px;
    font-family: GothamBold;
}

.cms-table
{
    max-width: 95%;
    margin: auto;
}

.content
{
    width: 95%;
    background-color:#fff;    
    margin: auto;
}

/* TOP HEADER */
.top-header
{    
    width: 100%;
    height: 155px; 
    z-index: 15;
    display: flex;
    background: #fff;
    transition: all ease 0.6s;
}

.top-header-logo
{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.top-header-logo img
{
    width: 250px;
    height: auto; 
}

.top-header-search
{
    color: #000;
}

.top-header-search
{
   margin-left: -15px;        
}

.top-header-search input#search
{
    border: none;
    margin-left: 10px;
    outline: none;
}

.top-header-search input#search::-webkit-input-placeholder
{
    color: #000;
}

.top-header-search input#search::-moz-placeholder
{
    color: #000;
}

.top-header-search input#search:-moz-placeholder
{
    color: #000;
}

.top-header-search input#search:-ms-input-placeholder
{
    color: #000;
}

.top-header-right
{
    position: absolute;
    top: 25px;
    right: 1%;
    text-align: left;
    font-size: 9pt;
    width: 180px;
    z-index: 1002;
}

.top-header-right a
{
    color:#000;
    text-decoration: none;
}

.top-header-right a:hover
{
    color:#363636;
    text-decoration: none;
}

.top-header-cart
{
    margin-left: -15px;
}

.top-header-cart span
{
    padding-right: 7px;
}

/* CHILD OF TOP-HEADER-RIGHT */
.navbar-social
{
    margin-top: 100px;
    margin-left: -24px;
    transition: all 0.6s ease;
}

.navbar-social > a > img
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0 5px;
}

.navbar-social a#facebook img:hover
{
    background: #3b5998;    
}

.navbar-social a#facebook:hover
{
    background: #000; 
}

.navbar-social a#instagram img:hover
{
    background: #e95950;
}

.navbar-social a#instagram:hover
{
    background: #000;    
}

.navbar-social a#twitter img:hover
{
    background: #55acee;
}

.navbar-social a#twitter:hover
{
    background: #000;    
}

/* NAVBAR */
.header
{
    background: transparent;
    height: 100%;
    width: 100%;
    position: relative; 
    margin-top: 170px;
}

.navbar
{
    margin-bottom: 0;
    min-height: 35px;
    height: 35px;
}

.container>.navbar-header
{
    margin-left: 90px !important;
}

.navbar-nav li a 
{
    font-family: Gotham;
    line-height: 0; 
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    width: 130px;
}

.navbar-nav > .active > a 
{
    color: #000 !important;
    font-family: GothamBold;
    background: #fff !important;
}

.navbar-nav {
    display: inline-block;
    float: none;
    height: 30px;
    margin: auto;
    margin-right: 0;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default, .navbar-nav li a
{
    background: #000;
    border: none;
    color: #fff !important;
    font-size: 9pt;
}

.navbar-right img 
{
    height: 25px;
    width: 25px;
    border-radius: 13px;
}

.navbar-right li
{   
    margin: 3px 2px;
}

.navbar-right li a
{
    height: 30px;
    width: 30px;
    padding: 2px 0px;
}

.navbar-nav li a:hover
{    
    color: #000 !important;
    font-family: GothamBold;
    /* font-weight: bold; */
}

.navbar-nav li:hover
{
    background: #fff; 
    border:none;
}

div#navbar
{
    /*position: fixed;*/
    width: 100%;    
}

ul#slide-list{
    bottom: 0;
}

.carousel-loc
{
    display: inline-block;
    height: 100%;
    width: auto;
    overflow: auto;
    background: transparent;
}

/* Dropdown */
.admin-menu
{
    position: absolute;
    left: 0;
    top: 0;
}
.admin-menu li a
{
    background: #000;
    border: none;
    color: #fff !important;
    font-size: 9pt;
    padding: 9px;
    text-transform: uppercase;
    margin-left: 10px;
}

.admin-menu > li > .dropdown-menu
{
    background: #000;
    padding: 0;
    top: 88%;
}

.admin-menu > li > .dropdown-menu > li > a:hover, .admin-menu > .dropdown > a:hover
{
    background: #fff;
    color:#000 !important;
    font-family: GothamBold;
    text-transform: uppercase;
}

.navbar-nav li a.dropdown-toggle
{
   padding: 15.7px 10px;
}

.navbar-nav > li > .dropdown-menu
{
    background: #000;
    padding: 0;
    min-width: 130px !important;
}

.navbar-nav > li > .dropdown-menu > li > a
{
    text-transform: uppercase;
    padding: 23px 10px;
}



/* FOOTER DESIGN */
.footer-column
{
    float: left;
    width: 33%;
    padding: 0; 
     
}

.ft-mid-column
{
    text-align: center;
    border-left:1px solid #a7a4a4;
    border-right:1px solid #a7a4a4;      
    padding: 0px 0px;
}

.footer-column-section
{
    width: 100%;
    min-height: 2px;
    margin: 0;
    padding: 0;
}

.footer-column-each
{
    width: 90%;
    padding: 0;
    margin: auto;
    text-align: left;
}

.ft-column-right
{
    float: right;
    margin-left: 0px;
    width: 27%;
}

.ft-column-mid
{
    text-align: center;
}

.footer-content
{    
    margin: 0 auto;
    padding: 0;
    padding-left: 80px;
    padding-top: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
}

.footer-copyright
{    
    font-size:8pt;        
    width: 100%;
    margin-top: 40px;
}

.footer-container
{
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #101010;
    padding: 5px;
    margin-top: 70px;
}

.underline
{
    text-decoration: underline;
    -webkit-text-decoration-color: gray;
    text-decoration-color: gray; 
    font-size: 1pt;
}

.lbl-large-bold
{
    display: block;
    font-size: 23px;
    font-weight: bold;   
    letter-spacing: 3px;
    font-family: GothamBold;
    margin: 0;  
    color: #fff;
    margin-left: 0px;
}


.lbl-small
{
    display: block;
    font-size: 8.5pt;    
    font-weight: normal;
    font-family: Gotham;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 0px;
    margin-top: 2px;
    color: #fff;
}

.ft-content
{
    height: 60%;
}

.ft-get-social
{
    margin-left: -35px; 
}

.foot-nav
{
    margin: 0px;
}

.foot-nav ul
{
    display: inline-block;
    list-style-type: none; 
    padding: 0 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.foot-nav li
{
    float: left;
    width: 33%;   
    padding: 0px 10px; 
}

.foot-nav a
{
    text-decoration: none;
    color:grey;
    font-weight: 200;    
}

.foot-nav a:hover
{
    text-decoration: none;
    color:#fff;
}

.foot-social ul
{
    display: inline-block;
    list-style-type: none; 
     /*padding: 0 10px;*/
    text-align: center;
    margin-top: 8px;
    padding-left: 0px;
}

.ft-img-social
{
    float: left;
    margin-right: 15px;
}

.ft-img-social li a
{  
    height: 40px;
    width: 40px;
    padding: 2px 0px;
}

.foot-social img
{
    width:30px;
    height:30px; 
    border-radius: 20px;
}

.ft-img-social a#facebook img:hover
{
    background: #3b5998;    
}

.ft-img-social a#instagram img:hover
{
    background: #e95950;
}

.ft-img-social a#twitter img:hover
{
    background: #55acee;
}

.foot-subscribe 
{
    padding-top: 10px;
    padding-left: 0px;
}

.ft-box input#txtEmail
{
    background: #101010;
    border: none;
    margin-left: 5px;
    font-size: 9pt;
    width: 90%;
}

.ft-box
{    
    width: 75%;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: inline-block;
    margin-left: 0px;
}

.ft-box-button
{
    border:none;    
}
    
.ft-box-button input#btnSubscribe
{
    background: #232323;
    border: 1px solid #fff;
    margin-top: 5px;  
    /*min-width:60%;
    max-width:80%;*/
    width: 100%;
    height: 25px;
    float: left;
    border-radius: 3px;
    text-align: center;
    font-size: 10pt;

}

input#btnSubscribe:hover
{
    background: #353535; 
}

input#txtEmail:focus {
    border: none;
    outline: none;
}

/* HOME PAGE CONTENT*/
.quotes
{
    text-align: center;
}

.quotation
{
    width:90%; 
    margin: auto;
    padding: 40px 0px;
}

.quotation p
{
    background-color: #f4f4f6;
    margin: auto;
    padding: 25px 110px;
    font-size: 9pt;
}

.home-section
{
    width:100%; 
}

.hs-container
{
    padding-bottom: 60px;
}

.hs-title-underline
{
    color: black;
    text-decoration: underline;
    font-size: 1pt;
    text-align: left;    
}

.hs-title
{
    display: block;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: GothamBold;
    margin: 0;
    color: black;
    margin-left: 50px;
}

.hs-title img
{
    width: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 7px;      
}

.hs-supp-details
{
    text-align: left;
    margin-left: 52px;
/*    margin-top: -5px;*/
    font-size: 8pt;
    letter-spacing: 1.5px;
}

.hs-supp-details a
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hs-supp-details a:hover
{
    color: #353535;   
    text-decoration:underline;
}

.hs-inst-gallery
{
    padding-left: 45px; 
}

.gallery-box
{
    width: 18%;
    height: auto;
    display: inline-block;
    margin: 20px 2.5px;
}

.gallery-box img
{
    width: 100%;
    height: auto;
    display: inline-block;
}

.inst-link
{
    text-align: center;
    color: #bb2229;
    font-weight: bold;
    font-size: 11pt;
    font-family: GothamBold;
    letter-spacing: 1.5px;
    padding-top: 15px;
}

.hs-nl-articles
{
    padding-left: 36px;
    padding-top: 20px;
}

.nl-article-box
{
    display: inline-block;
    margin: 0px 16px;
    text-align: center;
    width: 29%;
    vertical-align: top;
}

.nl-article-img
{
/*
    width: 300px;
    height: 300px;
*/
    width: 100%;
    auto: auto;
    overflow: hidden;
}

.nl-article-img img
{
    width: 100%;
    height: auto;
}

.nl-article-title 
{
    color: #bb2229;
    font-weight: bold;
    font-size: 10pt;
    font-family: GothamBold;
    letter-spacing: 1.5px;
    margin-top: 35px;
    text-transform: uppercase;
}

.nl-article-date
{
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.nl-article-link
{
    margin-top: 5px;
}

.nl-article-link a
{
    text-decoration: none;
    color: #bb2229;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.nl-article-link a:hover
{
    color: #ff8e93;
    text-decoration: underline;
}

/*-------------------------------------*/
     /* NEWSLETTER PAGE CONTENT */

.newsletter-container, .shop-container
{
    width: 95%;
    background-color: #fff;
    margin: auto;        
}

.newsletter-header
{
    width: 99%;
    padding-top: 30px;
    margin-left: 5px;
    display: inline-block;
}

.newsletter-header-left
{
    width: 75%;
    margin: auto;
    display: block;
    text-align: center;
}

.newsletter-header-right
{
    width: 50%;
    margin: auto;
    display: block;
}

.newsletter-search
{
    width: 60%;
    padding: 10px 0;
    margin: auto;
}

.nl-search-border input
{
    border: none;
    font-size: 10pt;
    height: 20px;
    width: inherit;
    background: #f7f9fb;
    text-transform: uppercase;
    text-align: center;
}

.nl-search-border
{
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    display: inline-block;
}

.nl-search
{
    width: 100%;
}

.nl-search input{
    padding-left:25px;
}

.nl-search input:focus {
    border: none;
    outline: none;
}

.nl-search:before{
    opacity:.8;
    height:100%;
    width:25px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

.newsletter-search input
{
    font-family: Gotham;
}

.newsletter-search input#search::-webkit-input-placeholder
{
    color: #000;
}

.newsletter-search input#search::-moz-placeholder
{
    color: #000;
}

.newsletter-search input#search:-moz-placeholder
{
    color: #000;
}

.newsletter-search input#search:-ms-input-placeholder
{
    color: #000;
}

.newsletter-body
{
    padding: 50px 0;
}

.newsletter-title
{
    display: block;
    font-size: 36px;
/*    font-weight: bold;    */
    font-family: BebasNeue;
    margin: 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1pt;  
}

.newsletter-details
{
    width: 100%;
    padding-top: 15px;
}

 .newsletter-details a
{
    width: 15%;
    padding: 0;
    text-transform: uppercase;
    font-size: 9pt;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.newsletter-details a:hover
{
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    background: #515151;
    text-decoration: none;
}

.newsletter-img
{
    display: inline-flex;
    width: 33%;
    margin-bottom: 15px;
    position: relative;
}

.newsletter-img img
{
    margin: 0px auto;
    width: auto;
    height: auto;
    max-width: 330px;
    max-height: 330px;   
}

.hover-details {
    display:none;
    margin: auto;    
    text-transform: uppercase;
}

.newsletter-img:hover .hover-details {
    display: none; 
    width: 93%;
    height: 95%;
    background: rgba(255,255,255,0.5);
    position: absolute;
    padding: 100px 10px;    
    top: 8px;
    left: 12px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;  
    margin-left: -5px; 
}

.newsletter-img-container
{
    width: 330px;
    height: 330px;
    overflow: hidden;
}

.full-article-left
{
    width: 70%;
}

.full-article-header
{
    display: inline-flex;
    width: 90%;
    padding-bottom: 5px;
    padding-top: 20px;
}

.full-article-title
{
    width: 90%;
    display: block;
    font-size: 36px;
/*    font-weight: bold;*/
    font-family: BebasNeue;
    margin: 0;
    color: black;
    text-transform: uppercase;
}


.full-article-date
{
    width: 90%;
    font-family: Gotham;
    font-size: 11pt;
    color:#bb2229;
    margin-top: -7px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;    
    text-transform: uppercase;
}

.newsletter-full-article
{
    width: 90%;
    padding: 50px 0;
/*    text-transform: uppercase;*/
}

.full-article-full-desc img
{
    width: 100%;
    height: auto;
}
.newsletter-article-body
{
    display: flex;
}

.full-article-image
{
    width: 90%;
    height:auto;
}

.full-article-image img
{
    width:100%;
    height:auto;
}


.full-article-short-desc
{
    font-family: GothamBold;
    font-size: 11pt;
    text-align: center;
    padding-bottom: 20px;
}

.full-article-full-desc
{
    font-size: 10pt;
}

.full-article-right
{
    padding-top: 20px;
    width: 30%;
}

.full-article-right span
{
    font-family: Lato;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1pt;
    line-height: 4;
}

.recent-article
{
    font-size: 11pt;    
    font-family: Merriweather;
    padding: 15px 0px;
}

.recent-article-title a
{
    color: black;
}

.recent-article-title a:hover
{
    text-decoration: none;
    color: #af1f31;
}
.recent-article-title a:link,a:active, a:visited {
    text-decoration:none;
}

.recent-article-date
{
    font-size: 10pt;   
    color: gray;
}

.article-share
{
    width: 90%;
    margin: auto;
    color:#999;
    text-align: center;
    font-size: 15pt;
    padding-bottom: 50px;
}

.article-share a
{
    text-decoration: none;
}

.article-share a img
{
    width: 35px;
    height: 35px;
}

      /* NEWSLETTER END CONTENT */
/*-------------------------------------*/
     

/*-------------------------------------*/
        /* SHOP PAGE CONTENT */

.shop-result
{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.shop-listing
{
    display: flex;
}

.shop-left
{
    width: 20%;
    margin-left: 50px;
}

.shop-brand-name
{
    text-align: center;
    font-family: BebasNeue;
    font-size: 30pt;
    color: #000;
    padding-top: 25px;
}

.shop-browse-title
{
    font-family: BebasNeue;
    font-size: 16pt;
    padding-top: 20px;
    padding-bottom: 25px;
    color: #717171;
}

.browse-list-name
{
    border-bottom: solid #c6c6c6 1pt;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #404040;
    font-size: 9pt;
}

.shop-browse-list
{
    padding-bottom: 20px;
}

.shop-browse-list a
{
    color: #000;   
    text-decoration: none; 
}

.browse-list-name:hover
{
    color: #fff;
    background: #515151;
}

.list-active
{
    background: #000;
    color: #fff;
    font-weight: bold;    
    text-decoration: none;
}

.shop-right
{
    width: 80%;
    display: inline-block;
    padding-top: 20px;
}

.shop-category
{
    padding-top: 15px;
    display: block;
    width: 75%;
    margin: auto;
    text-align: center;
}

.shop-category > a
{
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    font-size: 9pt;
    color: #000;
    width: 15%;
    text-decoration: none;
}

.shop-category > a:hover
{
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    background: #515151;
    text-decoration: none;
    font-family: GothamBold;
}

.shop-category > .active
{
    background: #000;
    color: #fff;
    font-family: GothamBold;    
    text-decoration: none;
}

.category-name
{
    padding: 3px 15px;
    text-transform: uppercase;
    font-size: 12pt;
    color: black;
    display: inherit;
    width: 20%;
}
    
.category-name:hover, .category-name a:hover
{
    background: #515151;
    color: #fff;
    font-weight: bold;
}

.shop-products
{
    width: 100%;
    margin-left: 25px;
   /* max-height: 125vh;
    overflow-y: auto;*/
}

.shop-product-container
{
    width:30%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    vertical-align: top;
    position: relative;
}

.shop-product-details
{
    font-size: 11pt;
    padding-top: 15px;
}

.prod-detail-name
{
     /*height: 40px;  */  
}

.prod-detail-price
{
    font-family: GothamBold;
    text-transform: uppercase;
}

.new-prod
{
    z-index: 2;
}

.related-items > .shop-product-container
{
    width: 32%;
    /*height: 150px;*/
}

.related-items > .shop-product-image
{
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

.related-items > .shop-product-image img
{
    width: 120px;
    height: auto;
}

.shop-product-hover {
    display:none;
    margin: auto;
    
}

.shop-product-image:hover .shop-product-hover {   
    width: 96%;
    height: 95%;
    /*background: rgba(0,0,0,0.1);*/
    position: absolute; 
    padding: 0;
    top: 7px;
    left: 4px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;   
}

.prod-hover-top
{
    padding: 8px;
    margin: 0 auto -35px 0;
    background:transparent;
}

.prod-hover-top a
{
    color:#fff;
    font-size: 26pt;
    font-weight: bold;
    text-decoration: none;
    line-height: 155px;
}

.shop-notmob
{
    display:block;
}

.prod-outofstock
{
    font-family: GothamBold;
    font-size: 12pt;
    background: #232323;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    border: 1px #000 solid;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    color:#fff;
}

.prod-hover-details
{
    font-family: GothamBold;
    font-size: 10pt;
    background: rgba(217, 217, 217, 0.4);
    text-transform: uppercase;
    text-align: left;
    padding-left: 7px;
    border: 1px #515151 solid;
    padding-bottom: 5px;
    margin: auto;
    width: 80%;
    margin-top: -3%;
}

.details-right > .prod-hover-details
{
    width: 87%;
}

.prh-num
{
    width: 40px;
    padding-left: 2px;
    border: 1px #000 solid;
    font-size: 10pt;
    padding-top: 2px;
    vertical-align: bottom;
    font-family: Gotham;
}

.prh-btn
{
    color: #ffffff;
    font-size: 8pt;
    background: #292828;
    padding: 4.3px 20px;
    text-decoration: none;
    border: none;
}

.item-isNew
{
    position: absolute;
    /* top: 3.2%; */
    /* left: 2%; */
    width: 50px;
    height: 20px;
    background: #bb2229;
    color: #fff;
    font-style: italic;
    z-index: 2;
    font-size: 10pt;
    margin-left: 23px;
    margin-top: 0px;
}

.item-outofstock
{
    position: absolute;
    margin: auto;
    width: 190px;
    height: 20px;
    background: #323232;
    color: #fff;
    font-style: italic;
    z-index: 2;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.6;
    margin-left: 23px;
    margin-top: 0px;
}

.modal-content-container
{
    display: flex;
}

.modal-product-image
 {
    width: 370px;
    height: 370px;
    overflow: hidden;
    text-align: left;
    margin: auto;
    background: #fff;
    display: flex;
    margin-top: 12px;
}

.modal-product-image img
 {
    width: auto;
    height: 370px;
    margin: auto;
}

.modal-product-more-images-each
{
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    margin: auto;
    text-align: center;
    cursor: pointer;
}


.modal-product-more-images img
{
    width: auto;
    height: 120px;
}

.modal-product-image-ac img
{
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
}

.modal-order-details
{
    font-family: BebasNeue;
    font-size: 15pt;
    padding-left: 15px;
}

.modal-order-details span
{
    margin-right: 5px;
}

.modal-order-table thead
{
    font-family: Gotham;
    border-bottom: 1px #c2c2c2 solid;
    font-size: 11pt;
}

.modal-order-table tbody
{
    font-family: Gotham;    
    font-size: 12pt;
    font-weight: bold;
}

.modal-order-table td
{
    padding: 10px 32px;
    font-size: 10pt;
}

.modal-order-buttons
{
    padding-top: 20px;
}

.modal-order-button-left
{
    width: 50%;
    float: left;
}

.modal-order-button-left a
{
    text-transform: uppercase;
    text-decoration: none;
    color: #202020;
    vertical-align: middle;
    font-size: 10pt;
}

.modal-order-button-left a:hover
{   
    color: #bb2229;
}

.modal-order-button-right
{
   float: right;
}

.modal-order-button-right a
{
    background: #515151;
    border: none;
    color: #fff;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 4px;    
}

.modal-order-button-right a:hover
{
    text-decoration: none; 
    background: #313131;   
}

.modal-content
{
    margin-top: 35%;    
}

.modal-body
{
    background: #f2f2f2;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 30px;
}

.prod-details
{
    width: 70%;
    margin-top: 0px;
}

.prod-content-details
{
    margin-top: 5%; 
}
  
.modal-product-more-images
{
    padding-top: 10px;
    width: 370px;
    margin: auto;
}

.modal-product-more-images img
{
    width: auto;
    height: 120px;
}

.modal-shop-name
{
    padding-left: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: BebasNeue;
    font-size: 20pt;
    color: grey;
}

.modal-close
{
    width: 100%;
    text-align: right;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 9%;
}

.modal-close a
{
    padding: 4px 7px;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 8pt;
    color:#000;
}

.modal-close a:hover
{
    text-decoration: none;
    border: 1px solid #323232;
    color:#323232;
}

.modal-details-images
{
    width: 50%;
    padding-left: 15px;
}

.modal-product-details
{
    width: 46%;
}

.details-top
{
    display: flex;
}

.details-left
{
    width: 52%;
    padding-left: 0;
}

.modal-product-name
{
    font-family: GothamBold;
    font-size: 15pt;
    overflow-wrap: break-word;    
    text-transform: uppercase;
    line-height: 17px;
    margin-top: 12px;
}

.modal-product-price 
{
    font-size: 14pt;
    margin-top: 5px;
    text-transform: uppercase;
}

.details-right
{
    width: 48%;
    padding-top: 25px;
    text-align: right;
}

.modal-product-detials-bot
{
    padding-left: 0;
    padding-top: 0px;
}

.details-properties
{
    /*display: flex;*/
}

.details-properties b
{
    font-family: BebasNeue;
    font-size: 15pt;
}

.detail-property
{
    width: 100%;
    font-family: BebasNeue;
    font-size: 15pt;
}

.detail-property select
{
    font-family: Gotham;
    font-size: 12pt;
}

.product-description
{
    font-size: 10pt;
    line-height: 16px;
    text-align: justify;
    white-space: pre-wrap;
    word-break: normal;
    border: none;
    font-family: Gotham;
    padding: 0;
}

.prodshow-pre
{
    padding-top: 3px;
    font-size: 14pt;
    white-space: pre-wrap;
    word-break: normal;    
    font-family: Gotham;
    border: none;
    padding: 0;
    background-color: #fff;
}

.product-ingredients
{
    padding-top: 0px;
    font-size: 10pt;
    font-family: Gotham;
}

.product-ingredients span
{
    font-family: BebasNeue;
    font-size: 15pt;
}

.drop-down
{
    width: 85%;
    height: 30px;
}

.modal-related-items
{
    padding-left: 35px;
}

.modal-related-items span
{
    font-family: GothamBold;
    font-size: 13pt;
    padding-left: 15px;
}

.related-items
{
    padding-left: 5px;
}
        /* SHOP END CONTENT */
/*-------------------------------------*/

 
/*-------------------------------------*/
    /* CMS PAGES CONTENT */

.form-action-area
{
    display: inline;
}

.td-action-area
{
    max-width:30%;
    min-width: 110px;
}

    /* Promo Code Page */

.uppercase-text
{
    text-transform: uppercase;
}

.no-expand-textarea
{
    resize: none;
}

    /* CMS PAGES END CONTENT */
/*-------------------------------------*/


/*-------------------------------------*/
         /* ABOUT US CONTENT */

.about-us
{
    width: 90%; 
    margin: auto;
    padding: 20px 0;
}

.about-us p
{
    text-align: justify;    
}
        /* ABOUT US END CONTENT */
/*-------------------------------------*/


/*-------------------------------------*/
         /* NEWSLETTER CONTENT */

.inputPreview 
{    
    display: none;
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
}

.imagePreview
{
    max-width: 400px;
    max-height: 400px;
}

        /* NEWSLETTER END CONTENT */
/*-------------------------------------*/

/*-------------------------------------*/
         /* PRODUCT CONTENT */

.shop-dynamic 
{    
    border: #000 dashed 1px; 
    margin: 10px 0; 
    padding: 10px;
    display: flex;
}

.prod-list
{
    border: #a2a2a2 solid 1px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.shop-show-col
{
    padding-top: 3px;
    font-size: 14pt;
}

.product-row-action
{
    margin-right: 15px;
}

        /* PRODUCT END CONTENT */
/*-------------------------------------*/
/* CART */
.cart-main
{
    width: 100%;
    display: block;
    font-family: BebasNeue;
    font-size: 30pt;
    text-align: center;
    padding: 25px 0 10px 0;
    margin: auto;
    color: #000;
}

.cart-container
{
    width: 90%;
    margin: auto;
}

.cart-title:first-child
{
    width: 48%;
    padding-left: 5%;
}

.cart-title
{
    width: 15%;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.cart-title:last-child
{
    margin-right: 0px;
}

.cart-item-container
{
    width: 90%;
    height: 110px;
    display: block;
    border-bottom: 1px solid #999;
    margin: 10px auto;
    padding-bottom: 11px;
}

.the-cart:first-child
{
    width: 50%;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    text-transform: none;
}

.the-cart:first-child img
{
    padding-right: 20px;
    width: 100%;
    height: auto;
    max-width: 125px;
}

.the-cart
{
    width: 15%;
    height: 100%;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 0;
}

.the-cart:last-child
{
    position: relative;
    margin-right: 0;
}

.cart-cancel
{
    position: absolute;
    top: 0;
    right: 5%;
    width: 20px;
    border-radius: 80px;
    border: 1px solid #000;
    text-align: center;
    font-size: 11pt;
    color: #000;
    height: 20px;
    line-height: 15px;
    text-transform: lowercase;
}

.cart-empty
{
    width: 100%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

#input-qty
{
    width: 35%;
    padding-left: 5px;
    border: 1px solid #000;
    text-align: left;
}

.after-cart-container
{
    width: 90%;
    display: flex;
    margin: 30px auto;
}

.voucher-container
{
    width: 60%;
    text-align: left;
    text-transform: uppercase;
    float:left
}

.voucher-container a
{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 6px;
    font-size: 10pt;
    display: inline-block;
    padding-bottom: 4px;
}


.voucher-container a:hover
{
    text-decoration: none;
    color:#fff;
    background: #323232;
    padding: 6px;
    padding-bottom: 4px;
    font-size: 10pt;
}

#input-vouch
{
    border: 1px solid #999;
    padding: 2px;
    margin: 10px 0;
    width: 70%;
    display: inline-block;
    text-transform: uppercase;
}

.money-container
{
    width: 40%;
    float:right;
    text-align: right;
}

.subtotal-container
{
    width: 100%;
    height: 60px;
    border: 1px solid #999;
    margin-top: 10px;
    display: block;
    font-size: 12pt;
    color: #000;
}

.subtotal-container > .left
{
    height:59px;
    min-width: 30%;
    float:left;
    line-height:60px;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #999;
    
}
.subtotal-container > .right
{
    width:auto;
    overflow:hidden;
    height:59px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.extra-container
{
    display: block;
    clear:both;
    width: 100%;
    height: 90px;
    border: 1px solid #999;
    border-top: none;
    color: #000; 
}

.per-extra-container
{
    width: 100%;
    display:block;
    height: 30px;
}

.per-extra-container:first-child
{
    border-bottom: 1px solid #999;
}

.per-extra-container > .left
{
    height: 30px;
    text-transform: uppercase;
    min-width: 30%;
    float:left;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 30px;
    font-size: 10pt;
}

.per-extra-container > .left-sec
{
    height: 60px;
    text-transform: uppercase;
    min-width: 30%;
    float:left;
    border-right: 1px solid #999;
    text-align: center;
    line-height: 60px;
    font-size: 12pt;
}

.per-extra-container > .right
{
    width: auto;
    overflow: hidden;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-size: 10pt;
}

.per-extra-container > .right-sec
{
    width: auto;
    overflow: hidden;
    height: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    font-size: 12pt;
}

.cart-divider
{
    clear: both;
    display: block;
    width: 90%;
    border-bottom: 1px solid #999;
    margin: auto;
    margin-bottom: 35px;
    padding: 20px 0;

}

.shipping-details
{
    
    width: 50%;
    margin: auto;
}

.shipping-details > h5
{
    text-transform: uppercase;
    text-align: center;
}

.shipping-details > .full
{
    width:100%;
    font-size: 10pt;
    padding-bottom: 15px;
}

.shipping-details > .full > b
{
    color:#ff0000;
    font-weight: normal;
}

#input-detail
{
    width: 100%;
    display: block;
    padding-left: 5px;
}

#input-detail-address
{
    width:80%;
    display: inline-block;
    padding-left: 5px;
    margin-right: 6px;
}

.input-region
{
    width: 100%;
    height: 25px;
    display: inline-block;
    padding-left: 5px;
    margin-right: 6px;
}

#input-detail-postal
{
    width:18%;
    display: inline-block;
    padding-left: 5px;
}

#input-detail-email
{
    width:60%;
    display: inline-block;
    padding-left: 5px;
    margin-right: 6px;
}

#input-detail-number
{
    width:38%;
    display: inline-block;
    padding-left: 5px;
}

#input-detail-note
{
    width: 100%;
    height: 80px;
    padding: 0 0 4em 5px;
}

.terms
{
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    display: block;
    width: 90%;
    margin: auto;
    text-align: right;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: -0.5px;
}

.terms a
{
    color: #bb2229;
}

.terms a:hover
{
    color: #bb2016;
    text-decoration: none;
}

#input-terms
{
    border: 1px solid #000;
    margin: auto;
    vertical-align: middle;
}

.cart-btn-container
{
    width: 90%;
    margin: 0 auto 10px auto;
    clear: both;
    display: block;
    padding-bottom: 150px;
}

.cart-btn-container div
{
    width: 49.7%;
    display: inline-block;
    font-size: 10pt;
}

.cart-btn-container div:last-child
{
    text-align: right;
}

.cart-btn-container div a
{
    background: #232323;
    color:#fff;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.cart-btn-container div a:hover
{
    background: #333;
    color:#fff;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
}


.paypal
{
    background:url('../images/Paypal.png') no-repeat;
    width: 225px;
    height: 45px;
    border: none;
    box-shadow: none;
}

.btn-disabled
{
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */}
}

/* ---END OF CART--- */
     
/* End of footer Last div */
.ft-btn
{
    width: 100%;
    margin: auto;
    text-align: center;
}

.ft-btn a
{
    padding: 8px 1px;
    text-decoration: none;
}

.ft-btn-img-container
{
    width: 10%;
    height: 50px;
    overflow: hidden;
}

/*
    Class for topbar to keep on top
*/

#topbar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
    transition: all 0.6s ease;
}

.scrollchange 
{
    background: #000;
    transition: all 0.6s ease;
}

.scrollchange .navbar-social
{
    margin-top: 47px;
    transition: all 0.6s ease;
}

.scrollchange .top-header
{
    height: 100px;
    background: #000;
    transition: all 0.6s ease;
}

.scrollchange .top-header-logo
{
    padding-top: 10px;
}

.scrollchange .top-header-logo img
{
    width: 250px;
    height: auto;
}

.scrollchange .top-header-cart a, .scrollchange .top-header-search
{
    color:#fff;
}

.scrollchange .top-header-search input#search 
{    
    /*border-radius: 5px;*/
    color:#000;
    background: #fff;
    padding-left: 2px;
}

/* CAROUSEL */

.carousel
{
    height: 100%;
}

#jquery-script-menu
{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

.jquery-script-center
{
    width: 960px;
    margin: 0 auto;
}
.jquery-script-center ul
{
    width: 212px;
    float:left;
    line-height:45px;
    margin:0;
    padding:0;
    list-style:none;
}
.jquery-script-center a
{
	text-decoration:none;
}
.jquery-script-ads
{
    width: 728px;
    height:90px;
    float:right;
    display: none;
}
.jquery-script-clear
{
    clear:both;
    height:0;
}

.carousel-caption
{
    width: 30%;
    top: 5%; 
    left: 15%;
    float:left; 
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: none;
    text-align: left;
}

.carousel-caption h1
{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
    font-family: BebasNeue;
    font-size: 30pt;
    letter-spacing: 3px;
    line-height: 55px;
}

.carousel-caption span
{
    padding-bottom: 0px;
    border-bottom: 1px solid #fff;
}

.carousel-inner
{
    width: 100%;
/*    height: 500px;*/
    margin: auto;
    background: #000;
}

.carousel-inner .item 
{
    height: 100%;
}

.carousel-inner .item img
{
    width: 100%;
    height: auto;
    margin: auto;
}

.caro-prodmob
{
    width: auto;
    height: 300px;
}

.caro-prodmob .item img
{
    width: auto;
    height: 100%;
}

.carousel-indicators
{
    bottom: 0;
    z-index: 3;
}

.carousel-indicators li
{
    border-radius: 0;
    width: 60px;
    height: 7px;
    background: #fff;
    opacity: 0.5;
}

.carousel-indicators .active
{
    border-radius: 0;
    background-color:#fff;
    opacity: 1;
    width: 60px;
    height: 8px;
}

.carousel-control
{
    color: #000;
    opacity: 1;
}

.carousel-control.right, .carousel-control.left 
{
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%) !important;
}


.wingman-btn
{
    background-color: transparent;
    border: 1px solid #fff;
    color:#fff;
    text-transform: uppercase;
    transition: ease-out 0.5s;
}

.wingman-btn:active
{
    color:#fff;
}

.wingman-btn:hover
{
    color:#000;
    background-color:#fff;    
    transition: ease-in 0.3s;
}

/* Contact US */

.contact-title
{
    font-size: 35pt;
    text-transform: uppercase;
    font-family: BebasNeue;
    text-align: center;
    color:#000;
    padding-top: 25px;
}

.contact-details
{
    width: 50%;
    margin: auto;
    padding: 20px 0;
}

.contact-details > h4
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact-details > .full
{
    width: 100%;
    padding-bottom: 18px;
}

.contact-details > .full > input
{
    width: 100%;
    margin-top: 3px;
    padding-left: 5px;
}

.contact-details > .full > textarea
{
    width: 100%;
    margin-top: 3px;
    padding-left: 5px;
}

.contact-details > .full > input#submit
{
    margin: auto;
    padding: 3px 0px;
    color:#fff;
    background: #000;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 20%;
    font-size: 11pt;
    border: none;
}

.contact-note
{
    width:75%; 
    margin: auto;
    padding: 10px 0px;
}

.contact-note p
{
    background-color: #f4f4f6;
    margin: auto;
    padding: 25px 110px;
    font-size: 10pt;
    line-height: 26px;
}

.contact-details > .full > .sub-title
{
    display: inline-block;
    color:#999;
}

/* Stockists */
.stock-title
{
    font-size: 38pt;
    text-transform: uppercase;
    font-family: BebasNeue;
    text-align: center;
    color:#000;
    padding-top: 80px;
    padding-bottom: 30px;
}

.stock-container
{
    width:100%;
    margin: auto;
    text-align: center;
}

.stock-each
{
    margin: auto;
    width: 50%;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    line-height: 17px;
    font-size: 10pt;
}

.stock-each b
{
    font-size: 14pt;
}

.stock-each:last-child
{
    margin-bottom: 100px;
}

/* Shop Product Detail for Mobile GENERAL here */

.mobdet-container
{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.mobdet-shop-name
{
    font-family: BebasNeue;
    font-size: 25pt;
    color:#555;
    display: block;
    width: 100%;
}

.mobdet-product-name 
{
    font-family: GothamBold;
    font-size: 15pt;
    width: 100%;
}

.mobdet-holder
{
    width:100%;
    display: flex;
}

.mobdet-product-price
{
    align-self: center;
    width: 45%;
    font-size: 15pt;
}

.mobdet-quantity
{
    width: 46%;
    font-family: GothamBold;
    font-size: 10pt;
    background: rgba(217, 217, 217, 0.4);
    text-transform: uppercase;
    text-align: left;
    padding-left: 7px;
    border: 1px #000 solid;
    padding-bottom: 5px;
    margin: auto;
}

.mobdet-related-items
{
    text-align: center;
    font-weight: bold;
}


.mobdet-related-holder
{
    padding-top:20px;
}

.mobdet-product-container 
{
    width: 30%;
    display: inline-block;
    text-align: center;
    padding-top: 0;
    padding-bottom: 40px;
    vertical-align: top;
}

.mobdet-related-image
{
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

.mobdet-related-image img
{
    height: 100%;
    width: auto;
    margin: auto;
}

.mobdet-related-details
{
    font-size: 9pt;
    padding-top: 15px;
}

.mobdet-properties
{
    /*display: flex;*/
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mobdet-property 
{
    width: 50%;
    font-family: BebasNeue;
    font-size: 15pt;
}

.mobdet-option
{
    width: 70%;
    height: 30px;
    margin-left: 20px;
    background:#ccc;
    border-color:#999;
    font-family: Gotham;
    font-size: 9pt;
    text-align: center;
    text-align-last:center;
    color:#000;
}

.mobdet-browse-list
{
    display:none;
}

.shop-mob
{
    display: none;
}

/* Carousel in Shop Product Detail for Mobile */
.carousel-product
{
/*    height: 300px;*/
}

.carousel-product .carousel-inner 
{
    background: #fff;
}
.carousel-product .carousel-indicators li
{
    border-radius: 0;
    width: 50px;
    height: 7px;
    background: #000;
    opacity: 0.5;
    border: none;
}

.carousel-product .carousel-indicators .active
{
    border-radius: 0;
    background-color:#000;
    opacity: 1;
    width: 50px;
    height: 8px;
}

/* Errors */
.error
{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.error h1
{
    font-family: BebasNeue;
    font-size: 55pt;
    text-transform: uppercase;
}

/* ORDERS */
.btn-order-status
{
    font-size: 10pt;
    font-weight: bold;
    padding: 0 5px;
    height: 20px;
}

/* DIVS that are NOT visible on desktop */
.mobile-only, .mobile-only-title, .mob-nav, .sidenav
{
    display: none;
}

/* Payment */
.payment-successful
{
    width: 75%;
    height: 75%;
    margin: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.payment-successful img
{
    width: auto;
    height: 100%;
}

.payment-successful div
{
    font-family: BebasNeue;
    font-size: 55pt;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    color:#fff;
}

/* RESPONSES */
.response-container
{
    background:#f5f5f5;
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border: 2px solid #ddd;
}

.response-title
{
    width: 100%;
    display: block;
    font-family: BebasNeue;
    font-size: 35pt;
    color:#000;
    text-align: center;
    margin: auto;
}

.response-note, .response-receipt-note
{
    width: 100%;
    display:block;
    margin: 30px auto;
}

.response-note p
{
    background-color: #ebebeb;
    margin: auto;
    padding: 25px 110px;
    font-size: 10pt;
    line-height: 26px;
    text-align: center;
}

.response-img-container
{
    background:#fff;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}


.response-img-container img
{
    width: 100%;
    height: auto;
    margin: auto;
}

/* RECEIPT - EMAIL */
.response-receipt-note p
{
    background-color: #ebebeb;
    margin: auto;
    padding: 25px 120px;
    font-size: 10pt;
    line-height: 16px;
    text-align: center; 
}

.response-receipt-content
{
    background:#494949;
    width: 100%;
    display: block;
    color:#fff;
    padding: 10px 0;
}

.response-receipt-content > .cart-container > .cart-title, .the-cart, .the-cart:first-child
{
    margin-right: 0;
}

.response-receipt-content > .cart-container > .cart-title,.the-cart
{
    width: 16%;
}

.response-receipt-content > .cart-container > .cart-title:first-child 
{
    width: 45%;
}

.response-receipt-content > .cart-item-container
{
    height: 30px;
    vertical-align: top;
    border: none;
}


.receipt-bottom
{
    border-top: 1px solid #999;
    width: 90%;
    margin: 30px auto auto auto;
    text-align: center;
    display: flex;
    padding: 15px 0;
}

.receipt-voucher-container
{
    width: 48%;
    height:60px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin:auto;
    align-content: center;
}

.display-voucher
{
    background: #000;
    height: 30px;
    text-align: left;
    padding-top: 3px;
    padding-left: 3px;
    margin-top: 7px;
}

.receipt-subtotal-container
{
    width: 48%;
    height: 60px;
    border: 1px solid #999;
    display: inline-block;
    margin: auto;
    font-size: 10pt;
    color: #000;
    align-content: center;
}

.receipt-subtotal-container > .left
{
    background: #a4a4a4;
    height:59px;
    min-width: 30%;
    float:left;
    line-height:60px;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #999;
    
}
.receipt-subtotal-container > .right
{
    background: #d2d2d2;
    width:auto;
    overflow:hidden;
    height:59px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.response-receipt-img-container
{
    background: #fff;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
}

.response-receipt-img-container img
{
    width: 400px;
    height: auto;
}

/* PAGINATION */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
 {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}


.pagination > li > a, .pagination > li > span
 {
    color: #000 !important;
}

/* ADDITIONAL Web Page for Product Details */
.proddet-outofstock 
{
    font-family: GothamBold;
    font-size: 12pt;
    background: #232323;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    border: 1px #000 solid;
    padding-bottom: 5px;
    margin: auto;
    width: 30%;
    color: #fff;
}

.proddet-properties:last-child
{
    font-size: 10pt;
}

.proddet-properties
{
    font-size: 12pt;
    text-align: justify;
    word-break: normal;
    border: none;
    font-family: Gotham;
    padding: 0;
    display: inline-block;
    width: 48%; 
}

.proddet-properties b 
{
    font-family: BebasNeue;
    font-size: 15pt;
}


.proddet-quantity
 {
    font-family: GothamBold;
    font-size: 10pt;
    background: rgba(217, 217, 217, 0.4);
    text-transform: uppercase;
    text-align: left;
    padding: 0 7px;
    border: 1px #000 solid;
    padding-bottom: 5px;
    margin: auto;
}

.proddet-related-details
{
    font-size: 12pt;
    padding-top: 10px;
}

.proddet-container
{
    margin:auto;
    padding: 0;
    width: 100%;
    margin-top: 50px;
}

.proddet-left
{
    float: left;
    width: 49%;
}

.proddet-right
{
    float: right;
    width: 49%;
}

.proddet-main-img
{
    width: 75%;
    height: 370px;
    overflow: hidden;
    text-align: left;
    margin: auto;
    background: #fff;
    display: block;
    margin-top: 12px; 
}

.proddet-main-img img
 {
    width: auto;
    height: 370px;
    margin: auto;
}

.proddet-more-container
{
    /*width: 100%;*/
    display:block;
    margin-top: 20px;
}

.proddet-more-img
{
    width:33%;
    height: 150px;
    float:left;
    overflow: hidden;
    margin-right: 0.5%;
}

.proddet-more-img:last-child
{
    margin-right: 0px;
}

.proddet-more-img img
{
    width: auto;
    height: 150px;
    cursor: pointer;
}

.proddet-description
{
    font-size: 10pt;
    line-height: 16px;
    text-align: justify;
    white-space: pre-wrap;
    word-break: normal;
    border: none;
    font-family: Gotham;
    padding: 0;
    background-color: white;
}

.proddet-related-items
{
    clear: both;
    float: none;
    display: block;
    width: 100%;
}


/**** WYSIWYG DISPLAYS****/
/** ABOUT **/
.about-us > p > img
{
    width: 100%;
    height: auto;
}